Source: tt-tools-common
Section: utils
Priority: optional
Maintainer: Sam Bansal <sbansal@tenstorrent.com>
Build-depends:
 debhelper (>= 10),
 dh-python,
 pybuild-plugin-pyproject,
 python3,
 python3-setuptools,
 python3-wheel,
 python3-all,
 python3-pip
Standards-Version: 4.5.0
Homepage: https://github.com/tenstorrent/tt-tools-common
Vcs-Git: https://github.com/tenstorrent/tt-tools-common.git
Vcs-Browser: https://github.com/tenstorrent/tt-tools-common

Package: python3-tt-tools-common
Architecture: all
Essential: no
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-pyluwen,
Description: Shared library for Tenstorrent tooling
 # tt-tools-common
 .
 Shared library across tenstorrent tools used to merge code down.  This may 
 get subplanted at some point as functionality merges further down into 
 luwen or other locations
 .
 ## Official Repository
 [https://github.com/tenstorrent/tt-tools-common](https://github.com/tenstorrent/tt-tools-common)

